<?xml version="1.0"?> 
<launch>
	<arg name="map" default="$(find global_planning)/map/entire_route.csv"/>
	<arg name="map1" default="$(find global_planning)/map/kong_a.csv"/>
	<arg name="map2" default="$(find global_planning)/map/kong_b.csv"/>
	<arg name="map3" default="$(find global_planning)/map/kong_new.csv"/>


	<param name="map" value="$(arg map)"/>
	<param name="map1" value="$(arg map1)"/>
	<param name="map2" value="$(arg map2)"/>
	<param name="map3" value="$(arg map3)"/>
	
	
	<node pkg='global_planning' type='Get_GPS.py' name='global_planningc_gps' output='screen' respawn='true'/>
	<node pkg='global_planning' type='global_planning' name='global_planning' output='screen' respawn='false'/>	
	<!-- <node pkg="rviz" type="rviz" name="rviz" args="-d $/home/jh/Documents/GitHub/Guide_Konkuk/src/global_planning/map/map.rviz" /> -->
</launch>
<!--	<node pkg='global_planning' type='global_entire_path' name='global_planningc_wp' output='sc>reen' respawn='true'/>	-->
